@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: rgba(52, 53, 59, 0.7);

  h2 {
    margin-top: 40px;
  }

  p {
    align-items: center;
    margin: 20px;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/phoreal.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  filter: blur(0.8px);
}

.App {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(52, 53, 59);
  width: 100vw;
  height: 75px;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid orange;
  z-index: 100;
}

.topnav {
  // height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    display: flex;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: yellowgreen;
  }

  a:focus {
    color: yellowgreen;
  }
}

ul.navlinks {
  display: flex;
  justify-content: space-around;
  list-style: none;

  a {
    text-decoration: none;
    margin-right: 8px;
    color: white;
    text-shadow: 1.5px 1.5px black;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: yellowgreen;
  }

  a:active {
    color: yellowgreen;
  }

  a:focus {
    color: yellowgreen;
  }
}

.Menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: rgba(52, 53, 59, 0.7);
  padding-bottom: 20px;

  h2 {
    margin-top: 40px;
    color: white;
    font-size: 40px;
  }

  section.categories {
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;

    ul {
      // width: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      list-style: none;

      a {
        color: white;
        text-shadow: 1.5px 1.5px rgb(31, 31, 31);
        text-decoration: none;
      }

      a:link {
        color: white;
      }

      a:hover {
        color: yellowgreen;
      }

      a:focus {
        color: yellowgreen;
      }
    }
  }
}

table {
  width: 100%;
  margin: 10px auto;

  th {
    display: flex;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  color: white;
  font: $base-text-size / 1 $base-font-family;
}
